.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: rgb(37, 32, 32);
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.vh-100{
    margin-top: 50px;
}

.form-label{
    color: aliceblue;
}
.reg{
    color: red;
}